.info{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.infoItem{
    font: 1;
    width: 33%;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
 
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);
}
.infoTitle{
    font-size: 25px;

}
.infoNbr{
    margin: 10px 0px;
    display: flex;
    align-items: center;


}