.SideBar{
    flex: 1;
    height: calc(100vh - 50px);
    background-color: #f7f7f7;
    position: sticky;
    top: 50px;

}
.sideBarWrapper{
    padding: 20px;
    color: #555;

}
.sideBarMenu{
    margin-bottom: 10px ;
}
.sideBarTitle{
    font-size: 13px;
    color: rgb(148, 152, 153);
}
.sideBarList{
    list-style: none;
    padding: 5px;
}
.sideBarListItem{
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.sideBarListItem.active, .sideBarListItem:hover{
    background-color: #e8f7f5;
}
.sideBarIcon{
    margin-right: 5px;
    font-style: 20px !important;

}